h1  { text-align: center;
      border-radius:10px; 
    }
 
html{color : black;
    }
body, html{
     height : 100%;
}
li a { background-color: black;}
a { color: #778899;
	}	
body  {background: linear-gradient(to bottom left,grey, rgba(0,0,0,0));
      text-align: center;
	  font-family:Times, Times New Roman, serif ;
	  }
	  ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; 
 }
ul li a {
 display:block;
 float:left;   
 width:180px;
 background-color#black;
 color:;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:3px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#768088a3;
 border-radius: 10px;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 
 li { text-align: center;
 }
img { height : 30%;
}

